.khan__buy-link{
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    
    align-self: flex-start;
    
    margin-left: 48px;
    transition: opacity .2s ease-out;
}

.khan__buy-link:hover {
    opacity: .7;
}