@import url(__brief/two-columns__brief.css);
@import url(__mail-text/two-columns__main-text.css);
@import url(__paragraph/two-columns__paragraph.css);
@import url(__span-accent/two-columns__span-accent.css);

.two-colummns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}