*,
*:before,
*:after {
    box-sizing:border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

    color: #000000;
}

/*header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__link:hover {
  color: #ff2f2f;
}

/*логотип яндекс практикум*/
.logo {
  background-image: url("../images/logo_place_header.svg");
  height: 32px;
  width: 183px;
}

.logo:hover{
    cursor:pointer;
}

/*свойства логотипа яндекс практикум в header*/
.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}
/*заголовок Научиться учиться*/
.header__title {
  width: 730px;
  font-size: 102px;
  display: block;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
}
/*подзоголовок*/
.header__subtitle {
  width: 388px;
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/*ссылка "узнать"*/
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
/*илюстрация "опять двойка"*/
.header__main-illustration {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    width: 765px;
    height: 608px;
}
/*квадрат*/
.header__square-pic {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 64px;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
}

/*description*/
.description {
  display: flex;
  justify-content: center;
  margin: 100px 0 70px;
}
.two-colummns{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.two-colummns__brief {
    width: 175px;
    margin:0;
    text-decoration: none;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}
.two-colummns__main-text{
    width: 80%;
    min-width: 784px;
}
.two-colummns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px;
}

.two-colummns__span-accent {
    font-weight: 700;
}

/*digits*/
.digits {
  margin: 0 auto 100px;
}
.section-title {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px;
}

.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: auto;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin:0 auto 100px;
}


.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;

  margin:0;
}


.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:20px 0 0;
}

/*feiman*/
.feinman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  z-index:0;
}


.feinman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding-top:100px;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto 0;

}

.feinman__link {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 48px;
  color: #000000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feinman__link:hover {
    color: #2f80ed;
  }

 .feinman__img {
    width: 867px;
    height: 637px;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

/*kaufman*/
.kaufman{
    background-color: #1f1f1f;
    color: white;

    position: relative;
    overflow: hidden;

   z-index:0;
}

.section-title_theme_dark {
  padding: 90px 0 0;
  margin: 0 auto;
}

.section-subtitle_theme_dark{
   padding: 20px 0 0;
   margin: 0 auto;
}

.table_theme_dark{
    padding: 0 0 90px;
    margin: 0 auto;
}

.table__cell_theme_dark{
    width: 200px;
    margin-top:80px;
}


.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
}

/*footer*/
.footer{
    min-height: 350px;

    background-color: #1f1f1f;
    color: white;
}

.footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    min-height: 350px;
    padding: 60px 0 40px;
    margin: 0 auto;
}

.footer__column_content_copyright {
    width: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer{
    display: block;
    height: 35px;
    width: 183px;
    background-image:url("../images/logo_place_footer.svg");

}

.footer__author {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.footer__column_content_info {
    flex-direction: column;
}

.footer__column_content_social {
    flex-direction: column;
}

.footer__column-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin:0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-links li {
  list-style-type: none;
}

  .footer__column-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
  }

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__social-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента
.header__square-pic {
  height: 568px;
  width: 568px;
}
/* и элемента с модификатором вида ключ-значение
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/
