@import url(__item/card__item.css);
@import url(__image/card__image.css);
@import url(__title/card__title.css);
@import url(__description/card__decriprion.css);

.card{
    width: 920px;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
}
